:root {
    --top-height: 20vh;
    --middle-height: 48vh;
    --bottom-height: 20vh;
    --shadow-x: 15px;
    --shadow-blur: 15px;
    --shadow-color: lightgray;
}

html {
}
body {
}

.top, .bottom {
  border: 2px solid black;
  height: 18vh;
}

.top {
  box-shadow: 0px var(--shadow-x) var(--shadow-blur) var(--shadow-color);
}
.bottom {
  box-shadow: 0px calc(-1*var(--shadow-x)) var(--shadow-blur) var(--shadow-color);
}

.middle {
  height: 50vh;
}

