/*NOTE: the button css was HEAVILY inspired (copied and tweaked) from here:*/
/*https://tympanus.net/codrops/2012/01/11/css-buttons-with-pseudo-elements/*/


/*||-------------------- ROOT, HTML, BODY ---------------------*/
:root {
    --top-height: 20vh;
    --middle-height: 48vh;
    --bottom-height: 20vh;

    --shadow-x: 15px;
    --shadow-blur: 10px;
    --shadow-color: blue;

    /*------ Z INDEXES IN VIEWPORT ------*/
    --z-index-for-borders: 2;
    --z-index-for-panels: 2;
    --z-index-for-middle: 1;
    --z-index-for-panel-hiding-button: 2;
    /*-----------------------------------*/

    /*------ Z INDEXES IN BUTTON ROW ------*/
    /*this allows shadow to be shown ON the pressed button*/
    --z-index-for-toggle-button-labels: 2;
    --z-index-for-toggle-buttons: 2;
    --z-index-for-pressed-toggle-buttons: 1;
    /*-----------------------------------*/


    /*-------------- BORDERS MADE OUT OF DIVS --------------*/
    --main-outer-border-thickness: 10px;
    /*------------------------------------------------------*/
}

html {
    /* this prevents scrolling of the window */
    /* applied to both html and body to account for differences in browswers, according to cgpt */
    overflow: hidden;
}
body {
    /* this prevents scrolling of the window */
    /* applied to both html and body to account for differences in browswers, according to cgpt */
    overflow: hidden;
    /*q: what does this do?*/
    /*min-height: -webkit-fill-available;*/
    /*border: 5px solid red;*/
}
/*-----------------------------------------------------------*/








/*||----------------------------- VIEWPORT -----------------------------*/
.manual-viewport {
    /*q: why does this have to be relative and not absolute for children to use it properly when they use absolute?*/
    /*when I make it absolute, it does a weird thing with its width, everything becomes narrow*/
    /*position: absolute;*/
    position: relative;
    height: 98dvh;
    width: 100dwh;
    /*border: 5px solid purple;*/
}
/*--------------------------------------------------------------------*/








/*||------------------ BORDERS MADE OUT OF DIVS ------------------*/
/*NOTE: I'm using this instead of the html/css border property because i want the map to pan UNDER it,*/
/*so i made these borders and gave them a higher z-index*/
.border-top, .border-bottom, .border-right, .border-left {
    background: orange;
    position: absolute;
    /*z-index: 2;*/
    z-index: var(--z-index-for-borders);
    /*--main-outer-border-thickness: 10px;*/
}
.border-top, .border-bottom {
    height: var(--main-outer-border-thickness);
    width: 100%;
}
.border-left, .border-right {
    width: var(--main-outer-border-thickness);
    height: 100%;
}
.border-top {
    top: 0px;
    /*TODO: this is a hack, remove or fix*/
    /*height: calc(10px + var(--main-outer-border-thickness));*/
}
.border-bottom {
    bottom: 0px;
}
.border-left {
    left: 0px;
}
.border-right {
    right: 0px;
}

/*.border-top {*/
/*    background: red;*/
/*    top: 10px;*/
/*}*/
/*.border-bottom {*/
/*    background: blue;*/
/*    bottom: 10px;*/
/*}*/
/*----------------------------------------------------------*/







/*||------------------ TOP, BOTTOM ------------------*/
    /*||------------------ ANIMATION FOR HIDING/SHOWING TOP AND BOTTOM PANNELS ------------------*/
    @keyframes bounceIn {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    @keyframes bounce {
        0% { transform: translateY(0); }
        2.1% { transform: translateY(-0.009%); }
        4.4% { transform: translateY(-0.035%); }
        12.9% { transform: translateY(-0.141%); }
        16.7% { transform: translateY(-0.723%); }
        24.3% { transform: translateY(-0.938%); }
        29.9% { transform: translateY(-1.149%); }
        32.8% { transform: translateY(-1.159%); }
        39.6% { transform: translateY(-1.129%); }
        43.1% { transform: translateY(-1.051%); }
        51% { transform: translateY(-1.017%); }
        53.8% { transform: translateY(-0.991%); }
        57.1% { transform: translateY(-0.977%); }
        69.8% { transform: translateY(-0.974%); }
        76.9% { transform: translateY(-0.975%); }
        100% { transform: translateY(-1.003%); }
    }
    @keyframes easeOutElastic {
      0% { transform: translateY(0%); }
      16% { transform: translateY(-132.27%); }
      28% { transform: translateY(-86.88%); }
      44% { transform: translateY(-104.63%); }
      59% { transform: translateY(-98.36%); }
      73% { transform: translateY(-100.58%); }
      88% { transform: translateY(-99.8%); }
      100% { transform: translateY(-100%); }
    }
    /*@keyframes easeUpElastic {*/
    /*  0% { transform: translateY(0%); }*/
    /*  16% { transform: translateY(-232.27%); }*/
    /*  28% { transform: translateY(-186.88%); }*/
    /*  44% { transform: translateY(-204.63%); }*/
    /*  59% { transform: translateY(-198.36%); }*/
    /*  73% { transform: translateY(-200.58%); }*/
    /*  88% { transform: translateY(-199.8%); }*/
    /*  100% { transform: translateY(-200%); }*/
    /*}*/
    @keyframes easeUpElastic {
      0% { transform: translateY(200%); }
      16% { transform: translateY(-32.27%); }
      28% { transform: translateY(13.12%); }
      44% { transform: translateY(-4.63%); }
      59% { transform: translateY(1.64%); }
      73% { transform: translateY(-0.58%); }
      88% { transform: translateY(0.2%); }
      100% { transform: translateY(0%); }
    }
    @keyframes easeDownElastic {
      /*0% { transform: translateY(0%); }*/
      0% { transform: translateY(-200%); }
      /*16% { transform: translateY(232.27%); }*/
      16% { transform: translateY(32.27%); }
      /*28% { transform: translateY(186.88%); }*/
      28% { transform: translateY(-13.12%); }
      /*44% { transform: translateY(204.63%); }*/
      44% { transform: translateY(4.63%); }
      /*59% { transform: translateY(198.36%); }*/
      59% { transform: translateY(-1.64%); }
      /*73% { transform: translateY(200.58%); }*/
      73% { transform: translateY(0.58%); }
      /*88% { transform: translateY(199.8%); }*/
      88% { transform: translateY(-0.2%); }
      /*100% { transform: translateY(200%); }*/
      100% { transform: translateY(0%); }
    }
    @keyframes goUp {
        0% { transform: translateY(0%); }
        100% { transform: translateY(-200%); }
    }
    @keyframes goDown {
        0% { transform: translateY(0%); }
        100% { transform: translateY(200%); }
    }
    /*------------------------------------------------------------------*/
.top, .bottom {
    /*for hide button*/
    /*transition: top 0.6s cubic-bezier(0.5,-0.5,0.5, 1.5), bottom 0.6s cubic-bezier(0.5,-0.5,0.5, 1.5);*/
    /*transition: top 0.6s linear(0, -0.1 20%, 0.4, 0.63, 0.75, 0.84, 0.92, 0.97, 1);*/
    /*transition: top 0.7s ease-in-out, bottom 0.7s ease-in-out;*/
    /*transition: top 0.7s cubic-bezier(0, 0, 0.3, 1.3, 0.8, 0.9), bottom 0.7s ease-in-out;*/
    margin: 0px;
    height: 18vh;
    /*z-index: 2;*/
    z-index: var(--z-index-for-panels);
    background: white;

    /*the below is necessary so that a stacking context is created*/
    position: absolute;
    /*--------------- PANEL HORIZONTAL POSITION ---------------*/
    left: 40px;
    right: 40px;
    height: 100px;
}
.top.visible, .bottom.visible {
    /*animation: bounceIn 0.6s;*/
    /*--spring-duration: 1.333s;*/
    /*animation: bounce var(--spring-duration) forwards;*/
    /*animation: easeOutElastic 1s;*/
}
.top.invisible {
    transition: top 0.3s ease-in-out;
    top: -200%;
}
.bottom.invisible {
    transition: bottom 0.3s ease-in-out;
    bottom: -200%;
}
.top.visible {
    animation: easeDownElastic 0.9s;
}
.bottom.visible {
    animation: easeUpElastic 0.9s;
}
.top {
    /*--------------- PANEL VERTICAL POSITION AND BORDER ---------------*/
    top: 50px;
    border: 5px outset orange;

    /*--------- SHADOW ----------*/
    box-shadow: 0px var(--shadow-x) var(--shadow-blur) var(--shadow-color);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.bottom {
    /*--------------- PANEL VERTICAL POSITION AND BORDER ---------------*/
    bottom: 50px;
    border: 5px inset orange;

    /*--------- SHADOW ----------*/
    box-shadow: 0px calc(-1*var(--shadow-x)) var(--shadow-blur) var(--shadow-color);
    box-shadow: 0 -2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 -6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -12.5px 10px rgba(0, 0, 0, 0.06),
    0 -22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 -41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 -100px 80px rgba(0, 0, 0, 0.12);
}
    /*------------------ CHILDREN OF BOTTOM ------------------*/
    .bottom * {
        margin: 0px;
    }
    /*---------------------------------------------------------*/
/*---------------------------------------------*/







/*||---------------------------- MIDDLE -----------------------------------*/
.middle {
    position: absolute; 
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    top: 0px;
    left: 0px;
    /*height: 200dvh;*/
    /*width: 200dvw;*/
    width: 100%;
    height: 100%;

    /*height: 100vh;*/
    /*z-index: 1;*/
    z-index: var(--z-index-for-middle);

    /*the below is necessary so that a stacking context is created*/
    /*for debugging*/
    /*why are these two necessary?*/
    /*touch-action: none;*/
    /*transform: translate(0,0);*/
    /*box-shadow: inset 0px var(--shadow-x) var(--shadow-blur) var(--shadow-color);*/

    /*box-shadow: inset 0px 0px 15px var(--shadow-color);*/
    /*background: white;*/
    /*box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),*/
    /*0 6.7px 5.3px rgba(0, 0, 0, 0.048),*/
    /*0 12.5px 10px rgba(0, 0, 0, 0.06),*/
    /*0 22.3px 17.9px rgba(0, 0, 0, 0.072),*/
    /*0 41.8px 33.4px rgba(0, 0, 0, 0.086),*/
    /*0 100px 80px rgba(0, 0, 0, 0.12);*/
    /*margin: 100px auto;*/
    /*background: white;*/
    /*border-radius: 5px;*/

}
/*||------------------ CHILDREN OF MIDDLE ------------------*/
/*.middle * {*/
.image, .canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /*Q: why is the child not placed against the left border without this?*/
    left: 0px;
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/

    /*center the map vertically*/
    /*todo: there might be a better way to do this. maybe flex? maybe grid?*/
    /*position: absolute;*/
    /*top: 20%;*/
    /*left: 0%;*/
    /*for debugging*/
    /*border: 2px solid black; */
}
/*-----------------------------------------------------------*/
.middle {
    --size-of-middle-in-percent: 250%;
    --size-of-image-in-percent: calc(100%/var(--size-of-image-in-percent));
    --width-of-middle-in-percent: 200%;
    --width-of-image-in-percent: calc(100%/var(--width-of-image-in-percent));
    --height-of-middle-in-percent: 200%;
    --height-of-image-in-percent: calc(100%/var(--height-of-image-in-percent));

    --mh: 500%;
    --mw: 500%;
    /*--mha: 25%;*/
    /*--scale: calc(100 / 200);*/

    /*100/--mh*/
    /*--ch: 20%; */
    --ch: 100dvh; 
    /*100/--mw*/
    /*--cw: 20%; */
    /*LESSON: dvh and dvw not both dvh*/
    --cw: 100dvw; 
    /*100/--mh/2*/
    /*(--mh - 100%) / 2*/
    --ct: 10%; 
    --ct: 0px; 
    /*--ct: calc((var(--mh) - var(--ch)) / 2); */
    --ct: calc(50% - var(--ch) / 2); 
    /*100/--mw/2*/
    /*(--mh - 100%) / 2*/
    --cl: 10%; 
    --cl: 0px; 
    /*--cl: calc((var(--mw) - var(--cw)) / 2); */
    --cl: calc(50% - var(--cw) / 2); 

    /*height: var(--height-of-middle-in-percent);*/
    /*width: var(--width-of-middle-in-percent);*/
    /*top: calc( calc(var(--height-of-middle-in-percent)-100%) / 2);*/
    height: var(--mh);
    width: var(--mw);
    top: calc((var(--mh) - 100%) / 2 * (-1));
    left: calc((var(--mw) - 100%) / 2 * (-1));
    /*top: -50%;*/
    /*left: -50%;*/
    /*height: 250%;*/
    /*width: 250%;*/
    border: 5px solid red;
}
.canvas {
    border: 5px solid purple;
    /*height: 250%;*/
    /*width: 250%;*/
    /*height: var(--height-of-middle-in-percent);*/
    /*width: var(--width-of-image-in-percent);*/
    /*height: 100dvh;*/
    /*width: 100dvw;*/
    /*height: 50%;*/
    /*height: calc(var(--mh));*/
    /*height: 50%;*/
    /*--mh: 50%;*/
    /*height: var(--mha);*/
    /*height: calc(var(--scale) * var(--mh));*/
    /*height: calc(100 / var(--mh));*/
    height: var(--ch);
    width: var(--cw);
    /*width: 50%;*/
    top: var(--ct);
    left: var(--cl);
    /*top: 25%;*/
    /*left: 25%;*/
    /*left: 20px;*/
    /*lesson: if canvas height/widht not changing, maybe because did changes in js*/
    /*height: 50dvh;*/
    /*width: 50dvw;*/
}
.image {
    border: 5px solid green;
    /*height: 100dvh;*/
    /*width: 100dvw;*/
    /*height: 50%;*/
    /*width: 50%;*/
    height: var(--ch);
    width: var(--cw);
    /*height: 100dvh;*/
    /*width: 100dvw;*/
    top: var(--ct);
    left: var(--cl);
    /*top: 25%;*/
    /*left: 25%;*/
    /*height: 50px;*/
    /*width: 50px;*/
    /*height: 40%;*/
    /*width: 40%;*/
    /*top: 25%;*/
    /*left: 25%;*/
    /*height: 50dvh;*/
    /*width: 50dvw;*/
}

/*--------------------------------------------------------------*/






/*||--------------- BUTTONS ---------------*/
/*NOTE: this is to stop users from the annoying text select effect.*/
/*CONTEXT: for example, when a user holds down a button, if the button has text, then the text will be highlighted*/
/*or if the user presses down on any part of the app, then something gets highlighted. so annoying (to me)*/
/*CONS: if users want to copy a word on the app, they can't. i don't  think this is a big issue.*/
.prevent_select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
button {
    /*to prevent flash while clicking*/
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

button {
    /*background-color: orange;*/
    /*transition: color 1s 0.1s;*/
}
button:active {
}
.toggle_button {
    /*background-color:#3bb3e0;*/

    /*z-index: 2;*/
    z-index: var(--z-index-for-toggle-buttons);

    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;

    position:relative;
    padding:10px 12px;
    margin-left:0px;
    margin: 0px;
    height: 35px;

    border-left:solid 1px #2ab7ec;
    border: 0.1px solid black;

    /*q: what does this do?*/
    background-image: linear-gradient(0deg, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    /*background-color: linear-gradient(bottom, red 0%, blue 100%);*/
    /*background: linear-gradient(bottom, red, blue);*/
    /*background-color: red;*/

    /*border-top-right-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
/*.button:not(.last_button) {*/
.toggle_button:not(.last_button) {
    box-shadow:
    inset 0px 1px 0px #2ab7ec, 
    0px 5px 0px 0px #032b3a, 
    0px 10px 5px #999,

    /*q: should i keep these?*/
    1px 1px 0px 0px #044a64, 
    2px 2px 0px 0px #044a64, 
    2px 5px 0px 0px #044a64, 
    6px 4px 2px #0b698b;
}
.last_button {
    /*TODO: understand each of these shadow pieces*/
    box-shadow:
    inset 0px 1px 0px #2ab7ec, 
    0px 5px 0px 0px #032b3a, 
    0px 10px 5px #999,

    /*q: should i keep these?*/
    1px 1px 0px 0px #044a64, 
    2px 2px 0px 0px #044a64, 
    2px 5px 0px 0px #044a64;
    /*6px 4px 2px #0b698b;*/
}
.toggle_button.pressed {
    /*z-index: 1;*/
    z-index: var(--z-index-for-pressed-toggle-buttons);
    top:3px;
    /*q: what does this do?*/
    /*background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);*/
    /*color: green;*/
    /*TODO: make this color into the same as the other one, dark blue background and gray font*/
    background-image: linear-gradient(0deg, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    box-shadow: 
    inset 0px 1px 0px #2ab7ec, 
    0px 2px 0px 0px #156785, 
    0px 5px 3px #999;
    /*inset 5px 0px 2px black;*/

    /*-----------*/
    /*NOTE: the below is more css i added, to make the pressed buttons more obvious*/
    /*to remove and go back to the previous css, just remove the below*/
	/*top:7px;*/
	background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
	box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
	color: #156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background: rgb(44,160,202);
    /*-----------*/
}
.toggle_button.pressed::before {
    /*   top:1px;*/
    /*   content:"";*/
    /*position:absolute;*/
    /*display:block;*/
    /*   height:100%;*/
    /*   width: 30px;*/
    /*   left: -31px;*/
    /*   top: -2px;*/
    /*   background: transparent;*/
    /*   border: 0.1px solid black;*/
    /*   box-shadow:*/
    /*inset 0px 1px 0px #2ab7ec, */
    /*0px 5px 0px 0px #032b3a, */
    /*1px 1px 0px 0px #044a64, */
    /*2px 2px 0px 0px #044a64, */
    /*2px 5px 0px 0px #044a64, */
    /*0px 10px 5px #999,*/

    /*6px 4px 5px #0b698b, */
    /*0px 0px 0px black;*/


    /*   background: red;*/
    /*content:"";*/
    /*width:1px;*/
    /*max-height:29px;*/
    /*height:100%;*/
    /**/
    /**/
    /*padding-top:8px;*/
    /*top:0px;*/
    /*left:0px;*/
    /**/
    /*font-size:16px;*/
    /*font-weight:bold;*/
    /*color:#8fd1ea;*/
    /*text-shadow:1px 1px 0px #07526e;*/
    /**/
    /*border-right:solid 0px #07526e;*/
    /*background-image: linear-gradient(0deg, rgb(10,94,125) 0%, rgb(14,139,184) 100%);*/
    /*border-top-left-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;*/
    /*box-shadow: 5px 0px 0px black;*/
    /**/
    /*   top:-3px;*/
    /*   box-shadow:*/
    /*       inset 0px 1px 0px #2ab7ec, */
    /*       0px 5px 0px 0px #032b3a, */
    /*       1px 1px 0px 0px #044a64, */
    /*       2px 2px 0px 0px #044a64, */
    /*       2px 5px 0px 0px #044a64, */
    /*       6px 4px 2px #0b698b, */
    /*       0px 10px 5px #999;*/
    /*box-shadow: 0px 0px 0px 10px red;*/
}

/*todo: dont need this anymore*/
.button_row {
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
}
.button_and_label_container {
    /*todo: organize this, then centerbuttons on panel, then add admin buttons*/
    --border-size: 4px;
    --font-size: 15px;
    --padding: 10px;
    --top-for-label: calc( 0px - var(--font-size) / 2 - var(--border-size) ); 

    /*size*/
    margin: 20px;
    max-width: fit-content;
    max-height: fit-content;
    /*border*/
    border: solid var(--border-size) black;
    border-radius: 10px;
    /*contents*/
    padding: var(--padding);

    /*q: what is this for? for hte childrewn somehow?*/
    position: relative;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button_container_label {
    /*size*/
    font-size: var(--font-size);
    max-width: fit-content;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;

    /*color*/
    background-color: white;

    /*position*/
    position: absolute;
    /*center horizontally*/
    /*q: why does this work?*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /*center vertically*/
    top: var(--top-for-label);
}

/*todo: remove the below, or put it somewhere accessible. it's not used anymore, it was for the lifted button label*/
.button_label {
    /*z-index: 2;*/
    z-index: var(--z-index-for-toggle-button-labels);

    font-size:12px;
    font-weight:bold;
    color:#8fd1ea;
    text-shadow:1px 1px 0px #07526e;

    /*background-color: #2561b4;*/
    /*background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);*/
    /*width:60px;*/
    /*q: what is this for?*/
    /*max-height:35px;*/
    /*height:100%;*/
    height: 35px;
    position:relative;
    padding-top:0px;
    margin-left:0px;
    width: 50px;
    /*position:absolute;*/
    /*q: what does this do?*/
    /*display:block;*/
    top:0;
    left:0px;

    /*border: 1px solid black;*/
    border-right:solid 1px #07526e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    border-bottom: 0.1px solid black;

    background-image: linear-gradient(0deg, rgb(10,94,125) 0%, rgb(14,139,184) 100%);

    box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;


    /*box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;*/
    box-shadow:
    inset 0px 1px 0px #2ab7ec, 
    0px 5px 0px 0px #032b3a, 
    0px 10px 5px #999,

    /*q: should i keep these?*/
    1px 1px 0px 0px #044a64, 
    2px 2px 0px 0px #044a64, 
    2px 5px 0px 0px #044a64, 
    6px 4px 2px #0b698b;
}
/*-----------------------------------------*/








/*||------------- PANEL HIDING BUTTON -------------*/
/*for hide button*/
/*#TESTING.hide_button_top_panel {*/
.hide_button_top_panel {
    /*TODO: change how this button looks, its kind of not in theme for now*/
    /*width: 100%;*/
    position: absolute;
    /*height: 30px;*/
    /*width: 110px;*/
    /*top: 10px;*/
    /*right: 10px;*/
    --buffer: calc(var(--main-outer-border-thickness) + 2.5px);
    top: var(--buffer);
    right: calc(var(--buffer) + 0px);
    /*top: calc(var(--main-outer-border-thickness) + 2.5px);*/
    /*right: calc(var(--main-outer-border-thickness) + 2.5px);*/
    /*z-index: 3;*/
    z-index: var(--z-index-for-panel-hiding-button);

    /*padding: 8px;*/
    padding: 0px 10px; 
    height: 30px;
    /*background: lightgray;*/
    border: 1px solid black;
    /*margin: 10px;*/

    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size:14px;*/
    /*text-decoration:none;*/
    /*color:black;*/

    /*---- blue styling ----*/
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;

    /*position:relative;*/
    /*padding:10px 12px;*/
    /*margin-left:0px;*/
    /*margin: 0px;*/
    /*height: 35px;*/

    /*border-left:solid 1px #2ab7ec;*/
    border: 0.1px solid black;

    /*q: what does this do?*/
    background-image: linear-gradient(0deg, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    /*background-color: linear-gradient(bottom, red 0%, blue 100%);*/
    /*background: linear-gradient(bottom, red, blue);*/
    /*background-color: red;*/

    /*border-top-right-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*----------------------*/
}
/*q: why does using :active turn off hte onClick?*/
.hide_button_top_panel:active {
/*.thing:active {*/
    /*background: green;*/

    /*z-index: 1;*/
    /*z-index: var(--z-index-for-pressed-toggle-buttons);*/
    /*LESSON: z-index changes when active, can affect clickability.*/
    /*top:3px;*/
    top: var(--buffer);
    /*q: what does this do?*/
    /*background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);*/
    /*color: green;*/
    /*TODO: make this color into the same as the other one, dark blue background and gray font*/
    background-image: linear-gradient(0deg, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    box-shadow: 
    inset 0px 1px 0px #2ab7ec, 
    0px 2px 0px 0px #156785, 
    0px 5px 3px #999;
    /*inset 5px 0px 2px black;*/

    /*-----------*/
    /*NOTE: the below is more css i added, to make the pressed buttons more obvious*/
    /*to remove and go back to the previous css, just remove the below*/
	/*top:7px;*/
	background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
	box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
	color: #156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background: rgb(44,160,202);
    /*-----------*/
}
/*-----------------------------------------------*/






/*||------------ DEMO BUTTONS ----------------*/
.a_demo_three {
    background-color:#3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
    border-left:solid 1px #2ab7ec;
    margin-left:35px;
    background-image: linear-gradient(0deg, rgb(44,60,202) 0%, rgb(62,184,229) 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_three:active {
    top:3px;
    background-image: linear-gradient(0deb, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_three::before {
    background: red;
    content:"1";
    width:35px;
    max-height:29px;
    height:100%;
    position:absolute;
    display:block;
    padding-top:8px;
    top:0px;
    left:-36px;
    font-size:16px;
    font-weight:bold;
    color:#8fd1ea;
    text-shadow:1px 1px 0px #07526e;
    border-right:solid 1px #07526e;
    background-image: linear-gradient(0deg, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
}

.a_demo_three:active::before {
    top:-3px;
    box-shadow:
    inset 0px 1px 0px #2ab7ec, 
    0px 5px 0px 0px #032b3a, 
    1px 1px 0px 0px #044a64, 
    2px 2px 0px 0px #044a64, 
    2px 5px 0px 0px #044a64, 
    6px 4px 2px #0b698b, 
    0px 10px 5px #999;
}

/*--------------------------------------------*/







/*||------------------ DEBUGGING ------------------*/
.svg {
    /*border: 1px solid red;*/
}
.image {
    /*border: 1px solid purple;*/
    /*border: 5px solid orange;*/
}

* {
    /*box-sizing: border-box;*/
}
.manual-viewport {
    /*border: 10px solid red;*/
}
.top {
    /*border: 5px solid green;*/
}
.middle {
    /*border: 5px solid red;*/
    /*position: relative;*/
    /*top: -100dvh;*/
    /*left: -100dvw;*/

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border: 5px solid purple;*/
    /*height: 300dvh;*/
    /*width: 300dvw;*/
}
.image {
    /*position: relative;*/
    /*border: 5px solid red;*/
    /*height: 100dvh;*/
    /*width: 100dvw;*/
    /*height: 100svh;*/
    /*width: 100svh;*/
}
.bottom {
    /*border: 5px solid yellow;*/
}
canvas {
    /*border: 5px solid blue;*/
    /*background: red;*/
}
.bottom {
    background-color: green;
}
.toggle_button {
}
.last_button {
}
.bottom {
    /*note: using this until I fill the bottom panel with actual things. right now it's just a diagnostic panel.*/
    height: 100px;
}
/*-----------------------------------------------*/

    /*border: 1px solid black;*/
}
